{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
//    ["import", {
//      "libraryName": "iview",
//      "libraryDirectory": "src/components"
//    }]
//    [
//      {
//        "libraryName": "element-ui",
//        "styleLibraryName": "theme-chalk"
//      }
//    ]
  ]
}
